<html>

<head th:replace="~{header::header}"></head>

<body>
    <div class="container">
        <form th:action="@{/{fabricante_id}/modelo/{id}/editModelo (fabricante_id=${fabricante_id}, id=${editModelo.id})}" method="post">
            <legend>Editar Modelo</legend>
            <div class="mb-3">
                <label class="form-label">Nome do Modelo</label>
                <input class="form-control" type="text" id="name" name="name" th:field="${editModelo.name}" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="tipo">Tipo do Modelo</label>
            <select class="form-control" id="tipo" th:field="*{editModelo.tipo}">
                <option value="" disabled selected>Selecione o tipo de veículo</option>
                <option value="CARRO" th:selected="${editModelo.tipo == 'CARRO'}">Carro</option>
                <option value="MOTO" th:selected="${editModelo.tipo == 'MOTO'}">Moto</option>
            </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Descrição do Modelo</label>
                <input class="form-control" type="text" id="descricao" name="descricao" th:field="${editModelo.descricao}" />
            </div>
            <div class="mb-3">
                <label class="form-label">Imagem do Modelo</label>
                <input class="form-control" type="text" id="imagem" name="imagem" th:field="${editModelo.imagem}" />
            </div>
            <input type="submit" value="Editar Modelo" class="btn btn-primary">
        </form>        
    </div>
</body>

</html>